<!DOCTYPE html>
<html lang="en">
<head th:replace="~{auth/fragments :: boots_trap}">
    <meta charset="UTF-8">
    <title>404 Error</title>
</head>
<body>

<div class="container offset-sm-3 col-md-8 mt-lg-5">
    <!-- show errors if any . -->

        <div class="row mt-2">
            <body>
            <h1>404 - Page Not Found</h1>
            <p>Sorry, the page you are looking for does not exist.</p>
            <a href="/">Go to Home</a>
            </body>
        </div>
</div>

</body>
</html>
