<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="auth/fragments :: boots_trap">
    <meta charset="UTF-8">
    <title>User Login</title>
</head>
<body>
<div class="container col-md-offset-3 col-md-8 mt-lg-5">
    <div th:replace="auth/fragments :: nav_bar"></div>

    <div class="row mt-4">
        <div th:if="${param.error}" class="col-sm-8">
            <p class="alert alert-danger alert-dismissible fade show" role="alert">Invalid username or password</p>
        </div>

        <div th:if="${param.reset_success}" class="col-sm-8">
            <p class="alert alert-info alert-dismissible fade show" role="alert">You have successfully reset your password, please log in here.</p>
        </div>

        <div th:if="${param.verified}" class="col-sm-8">
            <p class="alert alert-info alert-dismissible fade show" role="alert">This account has already been verified, please log in here.</p>
        </div>
        <div th:if="${param.valid}" class="col-sm-8">
            <p class="alert alert-info alert-dismissible">Email verified successfully, please log in here.</p>
        </div>

        <!-- show logout warning alert when logged out. -->
        <div th:if="${param.logout}" class="col-sm-8">
            <p class="alert alert-warning">You have been logged out.</p>
        </div>
    </div>

    <form th:action="@{/registration/forgot-password}" method="post" class="px-4">

        <div class="mb-3 row">
            <p></p>
            <label for="email" class="col-sm-2 col-form-label">Enter your email</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="email" name="email" required autofocus="autofocus">
            </div>
            <div class="mb-3 col-sm-4">
                <button type="submit" class="btn btn-success"> Verify email</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
