<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>PBGW-STORE</title>
    <link rel="shortcut icon" th:href="@{/assetsLandingPage/images/logo/favourite_icon.svg}">

    <th:block th:replace="~{fragment/framework :: framework}"></th:block>
</head>

<body>

<!-- body_wrap - start -->
<div class="body_wrap">

    <!-- backtotop - start -->
    <div class="backtotop">
        <a href="#" class="scroll">
            <i class="far fa-arrow-up"></i>
        </a>
    </div>
    <!-- backtotop - end -->

    <!-- preloader - start -->
    <div id="preloader"></div>
    <!-- preloader - end -->

    <!-- header_section - start
    ================================================== -->
    <th:block th:replace="~{fragment/header :: header}"></th:block>
    <!-- header_section - end
    ================================================== -->

    <!-- main body - start
    ================================================== -->
    <main>

        <!-- sidebar cart - start
        ================================================== -->
        <div class="sidebar-menu-wrapper">
            <div class="cart_sidebar">
                <button type="button" class="close_btn"><i class="fal fa-times"></i></button>

                <ul class="cart_items_list ul_li_block mb_30 clearfix">
                    <li>
                        <div class="item_image">
                            <img src="assets/images/cart/cart_img_1.webp" alt="Getyootech - Gadgets Ecommerce Site Template">
                        </div>
                        <div class="item_content">
                            <h4 class="item_title">Yellow Blouse</h4>
                            <span class="item_price">$30.00</span>
                        </div>
                        <button type="button" class="remove_btn"><i class="fal fa-trash-alt"></i></button>
                    </li>
                    <li>
                        <div class="item_image">
                            <img src="assets/images/cart/cart_img_2.webp" alt="Getyootech - Gadgets Ecommerce Site Template">
                        </div>
                        <div class="item_content">
                            <h4 class="item_title">Yellow Blouse</h4>
                            <span class="item_price">$30.00</span>
                        </div>
                        <button type="button" class="remove_btn"><i class="fal fa-trash-alt"></i></button>
                    </li>
                    <li>
                        <div class="item_image">
                            <img src="assets/images/cart/cart_img_3.webp" alt="Getyootech - Gadgets Ecommerce Site Template">
                        </div>
                        <div class="item_content">
                            <h4 class="item_title">Yellow Blouse</h4>
                            <span class="item_price">$30.00</span>
                        </div>
                        <button type="button" class="remove_btn"><i class="fal fa-trash-alt"></i></button>
                    </li>
                </ul>

                <ul class="total_price ul_li_block mb_30 clearfix">
                    <li>
                        <span>Subtotal:</span>
                        <span>$90</span>
                    </li>
                    <li>
                        <span>Vat 5%:</span>
                        <span>$4.5</span>
                    </li>
                    <li>
                        <span>Discount 20%:</span>
                        <span>- $18.9</span>
                    </li>
                    <li>
                        <span>Total:</span>
                        <span>$75.6</span>
                    </li>
                </ul>

                <ul class="btns_group ul_li_block clearfix">
                    <li><a class="btn btn_primary" href="cart.html">View Cart</a></li>
                    <li><a class="btn btn_secondary" href="checkout.html">Checkout</a></li>
                </ul>
            </div>

            <div class="cart_overlay"></div>
        </div>
        <!-- sidebar cart - end
        ================================================== -->

        <!-- breadcrumb_section - start
        ================================================== -->
        <div class="breadcrumb_section">
            <div class="container">
                <ul class="breadcrumb_nav ul_li">
                    <li><a href="index.html">Home</a></li>
                    <li>Register</li>
                </ul>
            </div>
        </div>
        <!-- breadcrumb_section - end
        ================================================== -->

        <!-- register_section - start
        ================================================== -->
        <section class="register_section section_space">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="container col-md-offset-3 col-md-8 mt-lg-5">

                            <div class="row mt-4">
                                <div th:if="${param.error}" class="col-sm-8">
                                    <p class="alert alert-danger alert-dismissible fade show" role="alert">Invalid username or password</p>
                                </div>

                                <div th:if="${param.reset_success}" class="col-sm-8">
                                    <p class="alert alert-info alert-dismissible fade show" role="alert">You have successfully reset your password, please log in here.</p>
                                </div>

                                <div th:if="${param.verified}" class="col-sm-8">
                                    <p class="alert alert-info alert-dismissible fade show" role="alert">This account has already been verified, please log in here.</p>
                                </div>
                                <div th:if="${param.valid}" class="col-sm-8">
                                    <p class="alert alert-info alert-dismissible">Email verified successfully, please log in here.</p>
                                </div>

                                <!-- show logout warning alert when logged out. -->
                                <div th:if="${param.logout}" class="col-sm-8">
                                    <p class="alert alert-warning">You have been logged out.</p>
                                </div>
                            </div>

                            <form th:action="@{/registration/forgot-password}" method="post" class="px-4">

                                <div class="mb-3 row">
                                    <p></p>
                                    <label for="email" class="col-sm-2 col-form-label">Enter your email</label>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" id="email" name="email" required autofocus="autofocus">
                                    </div>
                                    <div class="mb-3 col-sm-4">
                                        <button type="submit" class="btn btn-success">Verify email</button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- register_section - end
        ================================================== -->

        <!-- newsletter_section - start
        ================================================== -->
        <section class="newsletter_section">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col col-lg-6">
                        <h2 class="newsletter_title text-white">
                            <i class="icofont-paper-plane"></i>
                            Sign Up for Newsletter
                        </h2>
                    </div>
                    <div class="col col-lg-6">
                        <form action="#!">
                            <div class="newsletter_form">
                                <input type="email" name="email" placeholder="Enter your email address">
                                <button type="submit" class="btn btn_danger">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- newsletter_section - end
        ================================================== -->

    </main>
    <!-- main body - end
    ================================================== -->

    <!-- footer_section - start
    ================================================== -->
    <th:block th:replace="~{fragment/footer :: footer}"></th:block>
    <!-- footer_section - end
    ================================================== -->

</div>
<!-- body_wrap - end -->

<!-- fraimwork - jquery include -->
<th:block th:replace="~{fragment/script :: script}"></th:block>


</body>

</html>
