<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
</head>
<body>
<h1>Registration Form</h1>
    <form th:action="@{/auth/register}" method="post" th:object="${user}">
        <input name="username" type="text" placeholder="Username" required>
        <input name="password" type="password" placeholder="Password" required>
        <input name="firstName" type="text" placeholder="First name" required>
        <input name="lastName" type="text" placeholder="Last Name" required>
        <input name="phone" type="text" placeholder="Phone" required>
        <input type="submit" value="Register">
    </form>
</body>
</html>
