<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PBGW</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto rounded border p-4 m-4">
            <h2 class="text-center mb-5">New Product</h2>

            <form method="post" enctype="multipart/form-data" th:object="${productDto}">
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Product Name</label>
                    <div class="col-sm-8">
                        <input class="form-control" th:field="${productDto.productName}">
                        <p th:if="${#fields.hasErrors('productName')}" th:errorclass="text-danger"
                           th:errors="${productDto.productName}"></p>
                    </div>
                </div>

                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Product Original Price</label>
                    <div class="col-sm-8">
                        <input class="form-control" th:field="${productDto.productOriginalPrice}">
                        <p th:if="${#fields.hasErrors('productOriginalPrice')}" th:errorclass="text-danger"
                           th:errors="${productDto.productOriginalPrice}"></p>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Product Sale Price</label>
                    <div class="col-sm-8">
                        <input class="form-control" th:field="${productDto.productSalePrice}">
                        <p th:if="${#fields.hasErrors('productSalePrice')}" th:errorclass="text-danger"
                           th:errors="${productDto.productSalePrice}"></p>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Product Description</label>
                    <div class="col-sm-8">
                        <input class="form-control" th:field="${productDto.productDesc}">
                        <p th:if="${#fields.hasErrors('productDesc')}" th:errorclass="text-danger"
                           th:errors="${productDto.productDesc}"></p>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Units In Stock</label>
                    <div class="col-sm-8">
                        <input class="form-control" th:field="${productDto.unitsInStock}">
                        <p th:if="${#fields.hasErrors('unitsInStock')}" th:errorclass="text-danger"
                           th:errors="${productDto.unitsInStock}"></p>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Category</label>
                    <div class="col-sm-8">
                        <select class="form-select form-control" th:field="${productDto.categoryId}">
                            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.categoryName}"
                                    th:selected="${category.id == productDto.categoryId}"></option>
                        </select>
                        <p th:if="${#fields.hasErrors('categoryId')}" th:errorclass="text-danger"
                           th:errors="${productDto.categoryId}"></p>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Brand</label>
                    <div class="col-sm-8">
                        <select class="form-select form-control" th:field="${productDto.brandId}">
                            <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.brandName}"
                                    th:selected="${brand.id == productDto.brandId}"></option>
                        </select>
                        <p th:if="${#fields.hasErrors('brandId')}" th:errorclass="text-danger"
                           th:errors="${productDto.brandId}"></p>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Product Images</label>
                    <div class="col-sm-8">
                        <input type="file" class="form-control" th:field="${productDto.productImages}" multiple>
                        <p th:if="${#fields.hasErrors('productImages')}" th:errorclass="text-danger"
                           th:errors="${productDto.productImages}"></p>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-sm-4 col-form-label">Status</label>
                    <div class="col-sm-8" >
                        <div class="form-check form-check-inline">
                            <input class="form-check-input"  type="radio" th:field="${productDto.productStatus}" value="1"/>
                            <label  class="form-check-label"> Active</label>
                            <p th:if="${#fields.hasErrors('productStatus')}" th:errorclass="text-danger"
                               th:errors="${productDto.productStatus}"></p>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input"  type="radio" th:field="${productDto.productStatus}" value="0">
                            <label class="form-check-label"> Inactive</label>
                            <p th:if="${#fields.hasErrors('productStatus')}" th:errorclass="text-danger"
                               th:errors="${productDto.productStatus}"></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="offset-sm-4 col-sm-4 d-grid">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                    <div class="col-sm-4 d-grid">
                        <a class="btn btn-outline-primary" href="/ManagerDashBoard/productList" role="button">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>