<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ManagerDashboard - Tables</title>

    <!-- Custom fonts for this template-->
    <link th:href="@{/assetsDashboard/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link th:href="@{/assetsDashboard/vendor/datatables/dataTables.bootstrap4.css}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link th:href="@{/assetsDashboard/css/sb-admin.css}" rel="stylesheet">
    <link th:href="@{/assetsDashboard/css/style.css}" rel="stylesheet">
    <link th:rel="stylesheet" href="../css/colReorder-bootstrap4.css}">

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-3d.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
</head>

<body id="page-top">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/ManagerDashBoard">Manager Dashboard</a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>

    <!-- Navbar Search -->
    

    <!-- Navbar -->

    <ul class="navbar-nav ml-auto ml-md-50">
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-circle fa-fw"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">Settings</a>
                <a class="dropdown-item" href="#">Activity Log</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout" >Logout</a>
            </div>
        </li>
    </ul>

</nav>

<div id="wrapper">

    <!-- Sidebar -->
    <ul th:fragment="sidebar" class="sidebar navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/ManagerDashBoard">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/ManagerDashBoard/chartsManager">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Charts</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ManagerDashBoard/orderList">
                <i class="fas fa-fw fa-table"></i>
                <span>Order List</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ManagerDashBoard/productList">
                <i class="fas fa-fw fa-table"></i>
                <span>Product List</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ManagerDashBoard/categoryList">
                <i class="fas fa-fw fa-table"></i>
                <span>Category List</span></a>
        </li>
    </ul>

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/ManagerDashBoard}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Overview</li>
            </ol>
            <div class="card-header h5">
                <i class="fas"></i>
                Product:
            </div>
            <div class="row">
                <div class="col-xl-4 col-sm-6 mb-3">
                    <div class="card text-white bg-primary o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-comments"></i>
                            </div>
                            <div class="mr-5" th:text="${totalProducts + ' Total Products'}"></div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/ManagerDashBoard/productList">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 mb-3">
                    <div class="card text-white bg-warning o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-list"></i>
                            </div>
                            <div class="mr-5" th:text="${activeProducts + ' Active Products'}"></div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/ManagerDashBoard/productList/activeProduct">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 mb-3">
                    <div class="card text-white bg-success o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-shopping-cart"></i>
                            </div>
                            <div class="mr-5" th:text="${inActiveProducts + ' Inactive Products'}"></div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/ManagerDashBoard/productList/inActiveProduct">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-header h5">
                <i class="fas "></i>
                Category:
            </div>
            <div class="row">
                <div class="col-xl-4 col-sm-6 mb-3">
                    <div class="card text-white bg-primary o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-comments"></i>
                            </div>
                            <div class="mr-5" th:text="${totalCategories + ' Total Categories'}"></div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/ManagerDashBoard/categoryList">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 mb-3">
                    <div class="card text-white bg-warning o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-list"></i>
                            </div>
                            <div class="mr-5" th:text="${activeCategories + ' Active Categories'}"></div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/ManagerDashBoard/categoryList/activeCategory">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-4 col-sm-6 mb-3">
                    <div class="card text-white bg-success o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">
                                <i class="fas fa-fw fa-shopping-cart"></i>
                            </div>
                            <div class="mr-5" th:text="${inActiveCategories + ' Inactive Categories'}"></div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" href="/ManagerDashBoard/categoryList/inActiveCategory">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
                        </a>
                    </div>
                </div>
            </div>

            <form id="dateForm" method="GET" th:action="@{/ManagerDashBoard/orderList}">
                <label for="day">Choose Day:</label>
                <input type="date" id="day" name="date" th:value="${#dates.format(selectedDate, 'yyyy-MM-dd')}">
                <input type="submit" value="Filter Orders">
            </form>

            <script>
                document.addEventListener('DOMContentLoaded', (event) => {
                    // Check if the form has been submitted already
                    if (!localStorage.getItem('formSubmitted')) {
                        // Get the current date
                        var today = new Date();

                        // Format the date as YYYY-MM-DD
                        var day = String(today.getDate()).padStart(2, '0');
                        var month = String(today.getMonth() + 1).padStart(2, '0'); // January is 0!
                        var year = today.getFullYear();

                        var formattedDate = year + '-' + month + '-' + day;

                        // Set the value of the date input field to the formatted date
                        document.getElementById('day').value = formattedDate;

                        // Submit the form to load orders for today
                        document.getElementById('dateForm').submit();

                        // Set the local storage item to indicate that the form has been submitted
                        localStorage.setItem('formSubmitted', 'true');
                    }
                });
            </script>
            <div class="row">
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-primary o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">

                            </div>
                            <div class="mr-5">[[${countINPROGRESS}]] In progress</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" th:href="@{'/orderList/INP'}">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-warning o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">

                            </div>
                            <div class="mr-5">[[${countWAIT}]] Wait Orders</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" th:href="@{'/orderList/WAIT'}">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-success o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">

                            </div>
                            <div class="mr-5">[[${countDONE}]] Done Orders!</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" th:href="@{'/orderList/DONE'}">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
                        </a>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 mb-3">
                    <div class="card text-white bg-danger o-hidden h-100">
                        <div class="card-body">
                            <div class="card-body-icon">

                            </div>
                            <div class="mr-5">[[${countCANCEL}]] Canceled</div>
                        </div>
                        <a class="card-footer text-white clearfix small z-1" th:href="@{'/orderList/CAN'}">
                            <span class="float-left">View Details</span>
                            <span class="float-right">
                  <i class="fas fa-angle-right"></i>
                </span>
                        </a>
                    </div>
                </div>
            </div>

        </div>





        <div class="container-fluid">

            <!-- Breadcrumbs and other content omitted for brevity -->
            <div class="row">
                <!-- First Pie Chart -->
                <div class="col-lg-6 mb-3">
                    <div class="card">
                        <div class="card-header">
                            <i class="fas fa-chart-pie"></i>
                            Monthly revenue Chart
                        </div>
                        <div class="card-body">
                            <canvas id="myAreaChart" width="100%" height="50"></canvas>
                        </div>
                    </div>
                </div>
                <script th:inline="javascript">
                    var monthlyTotal  = [[${monthlyTotal }]]
                    var monthlyOrderCount = [[${monthlyOrderCount}]]
                </script>
                <div class="col-lg-6 mb-3">
                    <div class="card">
                        <div class="card-header">
                            <i class="fas fa-chart-pie"></i>
                            Monthly Order Chart
                        </div>
                        <div class="card-body">
                            <canvas id="myBarChart" width="100%" height="50"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row for Pie Charts -->
            <div class="row">
                <!-- First Pie Chart -->
                <div class="col-lg-6 mb-3">
                    <div class="card">
                        <div class="card-header">
                            <i class="fas fa-chart-pie"></i>
                            Product Activity Pie Chart
                        </div>
                        <div class="card-body">
                            <div id="pieChartContainer" style="height: 400px;"></div>
                        </div>
                    </div>
                </div>
                <!-- Second Pie Chart -->
                <div class="col-lg-6 mb-3">
                    <div class="card">
                        <div class="card-header">
                            <i class="fas fa-chart-pie"></i>
                            Product Activity Pie Chart
                        </div>
                        <div class="card-body">
                            <div id="pieChartContainer1" style="height: 400px;"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- DataTables Example and other content omitted for brevity -->

        </div>
            <!-- DataTables Example -->

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright © Your Website 2019</span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" href="login.html">Logout</a>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/assetsDashboard/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/assetsDashboard/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Core plugin JavaScript-->
<script th:src="@{/assetsDashboard/vendor/jquery-easing/jquery.easing.min.js}"></script>

<!-- Page level plugin JavaScript-->
<script th:src="@{/assetsDashboard/vendor/chart.js/Chart.min.js}"></script>
<script th:src="@{/assetsDashboard/vendor/datatables/jquery.dataTables.js}"></script>
<script th:src="@{/assetsDashboard/vendor/datatables/dataTables.bootstrap4.js}"></script>

<!-- Custom scripts for all pages-->

<script th:src="@{/assetsDashboard/js/sb-admin.min.js}"></script>
<script th:src="@{/assetsDashboard/js/colReorder-bootstrap4-min.js}"></script>
<script th:src="@{/assetsDashboard/js/colReorder-dataTables-min.js}"></script>
<!-- Demo scripts for this page-->
<script th:src="@{/assetsDashboard/js/demo/datatables-demo.js}"></script>
<script th:src="@{/assetsDashboard/js/demo/chart-area-demo.js}"></script>
<script th:src="@{/assetsDashboard/js/demo/chart-bar-demo.js}"></script>
<script th:src="@{/assetsDashboard/js/colReorder-dataTables-min.js}"></script>
<script th:src="@{/assetsDashboard/js/colReorder-bootstrap4-min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    Highcharts.chart('pieChartContainer', {
        chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 50,
                beta: 0
            }
        },
        title: {
            text: 'Product Status'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: true,
                    format: '{point.name}: {point.y}'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Products',
            data: [
                ['Active', /*[[${activeCategories}]]*/ 0],
                ['Inactive', /*[[${inActiveProducts}]]*/ 0]
            ]
        }]
    });
    /*]]>*/
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    Highcharts.chart('pieChartContainer1', {
        chart: {
            type: 'pie',
            options3d: {
                enabled: true,
                alpha: 50,
                beta: 0
            }
        },
        title: {
            text: 'Category Status'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                depth: 35,
                dataLabels: {
                    enabled: true,
                    format: '{point.name}: {point.y}'
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Categories',
            data: [
                ['Active', /*[[${activeCategories}]]*/ 0],
                ['Inactive', /*[[${inActiveCategories}]]*/ 0]
            ]
        }]
    });
    /*]]>*/
</script>
</body>

</html>