<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>PBGW-STORE</title>
  <link rel="shortcut icon" th:href="@{/assetsLandingPage/images/logo/favourite_icon.svg}">

  <th:block th:replace="~{fragment/framework :: framework}"></th:block>
</head>


<body>

<!-- body_wrap - start -->
<div class="body_wrap">

  <!-- backtotop - start -->
  <div class="backtotop">
    <a href="#" class="scroll">
      <i class="far fa-arrow-up"></i>
    </a>
  </div>
  <!-- backtotop - end -->

  <!-- preloader - start -->
  <div id="preloader"></div>
  <!-- preloader - end -->

  <!-- header_section - start
  ================================================== -->
  <th:block th:replace="~{fragment/header :: header}"></th:block>
  <!-- header_section - end
  ================================================== -->

  <!-- main body - start
  ================================================== -->
  <main>

        <!-- sidebar cart - start
        ================================================== -->
        <div class="sidebar-menu-wrapper">
          <div class="cart_sidebar">
            <button type="button" class="close_btn"><i class="fal fa-times"></i></button>

            <ul class="cart_items_list ul_li_block mb_30 clearfix">
              <li>
                <div class="item_image">
                  <img src="assets/images/cart/cart_img_1.webp" alt="Getyootech - Gadgets Ecommerce Site Template">
                </div>
                <div class="item_content">
                  <h4 class="item_title">Yellow Blouse</h4>
                  <span class="item_price">$30.00</span>
                </div>
                <button type="button" class="remove_btn"><i class="fal fa-trash-alt"></i></button>
              </li>
              <li>
                <div class="item_image">
                  <img src="assets/images/cart/cart_img_2.webp" alt="Getyootech - Gadgets Ecommerce Site Template">
                </div>
                <div class="item_content">
                  <h4 class="item_title">Yellow Blouse</h4>
                  <span class="item_price">$30.00</span>
                </div>
                <button type="button" class="remove_btn"><i class="fal fa-trash-alt"></i></button>
              </li>
              <li>
                <div class="item_image">
                  <img src="assets/images/cart/cart_img_3.webp" alt="Getyootech - Gadgets Ecommerce Site Template">
                </div>
                <div class="item_content">
                  <h4 class="item_title">Yellow Blouse</h4>
                  <span class="item_price">$30.00</span>
                </div>
                <button type="button" class="remove_btn"><i class="fal fa-trash-alt"></i></button>
              </li>
            </ul>

            <ul class="total_price ul_li_block mb_30 clearfix">
              <li>
                <span>Subtotal:</span>
                <span>$90</span>
              </li>
              <li>
                <span>Vat 5%:</span>
                <span>$4.5</span>
              </li>
              <li>
                <span>Discount 20%:</span>
                <span>- $18.9</span>
              </li>
              <li>
                <span>Total:</span>
                <span>$75.6</span>
              </li>
            </ul>

            <ul class="btns_group ul_li_block clearfix">
              <li><a class="btn btn_primary" href="cart.html">View Cart</a></li>
              <li><a class="btn btn_secondary" href="checkout.html">Checkout</a></li>
            </ul>
          </div>

          <div class="cart_overlay"></div>
        </div>
        <!-- sidebar cart - end
        ================================================== -->

        <!-- breadcrumb_section - start
        ================================================== -->
        <div class="breadcrumb_section">
          <div class="container">
            <ul class="breadcrumb_nav ul_li">
              <li><a href="index.html">Home</a></li>
              <li>My Account</li>
            </ul>
          </div>
        </div>
        <!-- breadcrumb_section - end
        ================================================== -->

        <!-- account_section - start
        ================================================== -->
        <section class="account_section section_space">
          <div class="container">
            <div class="row">
              <div class="col col-lg-3">
                <div class="account_menu">
                  <h2 class="title_text">My Account</h2>
                  <ul class="account_menu_list ul_li_block">
                    <li class="active"><a href="#!">Account Dashboard</a></li>
                    <li><a href="#!">Account Information</a></li>
                    <li><a href="#!">Address Book</a></li>
                    <li><a href="#!">My Orders</a></li>
                    <li><a href="#!">Billing Agreements</a></li>
                    <li><a href="#!">Recurring Profiles</a></li>
                    <li><a href="#!">My Product Reviews</a></li>
                    <li><a href="#!">My Tags</a></li>
                    <li><a href="#!">My Wishlist</a></li>
                    <li><a href="#!">My Applications</a></li>
                    <li><a href="#!">Newsletter Subscriptions</a></li>
                    <li><a href="#!">My Downloadable Products</a></li>
                  </ul>
                </div>
              </div>

              <div class="col col-lg-9">
                <div class="account_content_area">
                  <h3>My Dashboard</h3>
                  <ul class="content_layout ul_li_block">
                    <li>
                      <h4><strong>Hello, John Doe!</strong></h4>
                      <p class="mb-0">
                        From your My Account Dashboard you have the ability to view a snapshot of your recent account activity and update your account information. Select a link below to view or edit information.
                      </p>
                    </li>
                    <li>
                      <h4>Contact Information</h4>
                      <p class="mb-0">
                        John Doe
                      </p>
                      <a class="mb-3" href="#!">john.doe@gmail.com</a>
                      <ul class="btns_group ul_li">
                        <li><a class="btn btn_gray" href="#!">Edit Account Information</a></li>
                        <li><a class="btn btn_gray" href="#!">Change Password</a></li>
                      </ul>
                    </li>
                    <li>
                      <h4>Newsletter</h4>
                      <p>
                        You are currently not subscribed to any newsletter. 
                      </p>
                      <a class="btn btn_gray" href="#!">Edit Subscription</a>
                    </li>
                    <li>
                      <h4 class="mb-3">Address Book</h4>
                      <a class="btn btn_gray" href="#!">Manage Addresses</a>
                    </li>
                    <li>
                      <h4>Default Billing Address</h4>
                      <p>
                        You have not set a default billing address.
                      </p>
                      <a class="btn btn_gray" href="#!">Edit Address</a>
                    </li>
                    <li>
                      <h4>Default Shipping Address</h4>
                      <p>
                        You have not set a default shipping address.
                      </p>
                      <a class="btn btn_gray" href="#!">Edit Address</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- account_section - end
        ================================================== -->

        <!-- newsletter_section - start
        ================================================== -->
        <section class="newsletter_section">
          <div class="container">
            <div class="row align-items-center">
              <div class="col col-lg-6">
                <h2 class="newsletter_title text-white">
                  <i class="icofont-paper-plane"></i>
                  Sign Up for Newsletter
                </h2>
              </div>
              <div class="col col-lg-6">
                <form action="#!">
                  <div class="newsletter_form">
                    <input type="email" name="email" placeholder="Enter your email address">
                    <button type="submit" class="btn btn_danger">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
        <!-- newsletter_section - end
        ================================================== -->

      </main>
      <!-- main body - end
      ================================================== -->

      <!-- footer_section - start
      ================================================== -->
      <th:block th:replace="~{fragment/footer :: footer}"></th:block>
      <!-- footer_section - end
      ================================================== -->

    </div>
    <!-- body_wrap - end -->

    <!-- framework - jquery include -->
    <th:block th:replace="~{fragment/script :: script}"></th:block>
  </body>
</html>