<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>PBGW-STORE</title>
  <link rel="shortcut icon" th:href="@{/assetsLandingPage/images/logo/favourite_icon.svg}">

  <th:block th:replace="~{fragment/framework :: framework}"></th:block>
</head>


<body>

<!-- body_wrap - start -->
<div class="body_wrap">

  <!-- backtotop - start -->
  <div class="backtotop">
    <a href="#" class="scroll">
      <i class="far fa-arrow-up"></i>
    </a>
  </div>
  <!-- backtotop - end -->

  <!-- preloader - start -->
  <div id="preloader"></div>
  <!-- preloader - end -->

  <!-- header_section - start
  ================================================== -->
  <th:block th:replace="~{fragment/header :: header}"></th:block>
  <!-- header_section - end
  ================================================== -->

  <!-- main body - start
  ================================================== -->
  <main>

        <!-- sidebar cart - start
        ================================================== -->
        <div class="sidebar-menu-wrapper">
          <div class="cart_sidebar">
            <button type="button" class="close_btn"><i class="fal fa-times"></i></button>

            <ul class="cart_items_list ul_li_block mb_30 clearfix">
              <li>
                <div class="item_image">
                  <img src="assets/images/cart/cart_img_1.webp" alt="Getyootech - Gadgets Ecommerce Site Template">
                </div>
                <div class="item_content">
                  <h4 class="item_title">Yellow Blouse</h4>
                  <span class="item_price">$30.00</span>
                </div>
                <button type="button" class="remove_btn"><i class="fal fa-trash-alt"></i></button>
              </li>
              <li>
                <div class="item_image">
                  <img src="assets/images/cart/cart_img_2.webp" alt="Getyootech - Gadgets Ecommerce Site Template">
                </div>
                <div class="item_content">
                  <h4 class="item_title">Yellow Blouse</h4>
                  <span class="item_price">$30.00</span>
                </div>
                <button type="button" class="remove_btn"><i class="fal fa-trash-alt"></i></button>
              </li>
              <li>
                <div class="item_image">
                  <img src="assets/images/cart/cart_img_3.webp" alt="Getyootech - Gadgets Ecommerce Site Template">
                </div>
                <div class="item_content">
                  <h4 class="item_title">Yellow Blouse</h4>
                  <span class="item_price">$30.00</span>
                </div>
                <button type="button" class="remove_btn"><i class="fal fa-trash-alt"></i></button>
              </li>
            </ul>

            <ul class="total_price ul_li_block mb_30 clearfix">
              <li>
                <span>Subtotal:</span>
                <span>$90</span>
              </li>
              <li>
                <span>Vat 5%:</span>
                <span>$4.5</span>
              </li>
              <li>
                <span>Discount 20%:</span>
                <span>- $18.9</span>
              </li>
              <li>
                <span>Total:</span>
                <span>$75.6</span>
              </li>
            </ul>

            <ul class="btns_group ul_li_block clearfix">
              <li><a class="btn btn_primary" href="cart.html">View Cart</a></li>
              <li><a class="btn btn_secondary" href="checkout.html">Checkout</a></li>
            </ul>
          </div>

          <div class="cart_overlay"></div>
        </div>
        <!-- sidebar cart - end
        ================================================== -->

        <!-- breadcrumb_section - start
        ================================================== -->
        <div class="breadcrumb_section">
          <div class="container">
            <ul class="breadcrumb_nav ul_li">
              <li><a th:href="@{/}">Home</a></li>
              <li><a th:href="@{/wishlist}">Wishlist</a></li>
            </ul>
          </div>
        </div>
        <!-- breadcrumb_section - end
        ================================================== -->

        <!-- cart_section - start
        ================================================== -->
        <section class="cart_section section_space">
          <div class="container">
            <div class="cart_table">
              <table class="table mb-0">
                <thead>
                  <tr>
                    <th>PRODUCT</th>
                    <th class="text-center">PRICE</th>
                    <th class="text-center">STOCK STATUS</th>
                    <th class="text-center">ADD TO CART</th>
                    <th class="text-center">REMOVE</th>
                  </tr>
                </thead>
                <tbody>
                <tbody>
                <th:block th:each="item : ${wishlistItems}">
                  <tr>
                    <td>
                      <div class="cart_product">
                        <img th:src="@{'/images/Product/' + ${item.product.productImages[0].imageFileName}}" alt="Product Image">
                        <h3 th:text="${item.product.productName}"></h3>
                      </div>
                    </td>
                    <td class="text-center">
                      <span class="price_text" th:text="${#numbers.formatDecimal(item.product.productSalePrice, 0, 'COMMA', 2, 'POINT') + ' VND'}"></span>
                    </td>
                    <td class="text-center">
                      <span class="price_text text-success" th:if="${item.product.getUnitsInStock() > 0}">In Stock</span>
                      <span class="price_text text-danger" th:if="${item.product.getUnitsInStock() < 0}">Out of Stock</span>
                    </td>
                    <td class="text-center">
                      <form th:action="@{/add-to-cart}" method="post" class="add-to-cart-form" th:data-product-id="${item.product.id}">
                        <input type="hidden" th:value="${item.product.id}" name="id">
                        <button type="submit" class="btn btn_gray">Add To Cart</button>
                      </form>
                    </td>
                    <td class="text-center">
                      <form th:action="@{/remove-from-wishlist}" method="post">
                        <input type="hidden" th:name="productId" th:value="${item.product.id}">
                        <button type="submit" class="remove_btn"><i class="fal fa-trash-alt"></i></button>
                      </form>
                    </td>
                  </tr>
                </th:block>
                </tbody>


                <!--                  <tr>-->
<!--                    <td>-->
<!--                      <div class="cart_product">-->
<!--                        <img src="assets/images/compare/compare_img_1.webp" alt="Getyootech - Gadgets Ecommerce Site Template">-->
<!--                        <h3>Your Product Title Here</h3>-->
<!--                      </div>-->
<!--                    </td>-->
<!--                    <td class="text-center"><span class="price_text">$10.50</span></td>-->
<!--                    <td class="text-center"><span class="price_text text-success">In Stock</span></td>-->
<!--                    <td class="text-center">-->
<!--                      <a href="#!" class="btn btn_gray">Add To Cart</a>-->
<!--                    </td>-->
<!--                    <td class="text-center"><button type="button" class="remove_btn"><i class="fal fa-trash-alt"></i></button></td>-->
<!--                  </tr>-->

<!--                  <tr>-->
<!--                    <td>-->
<!--                      <div class="cart_product">-->
<!--                        <img src="assets/images/compare/compare_img_2.webp" alt="Getyootech - Gadgets Ecommerce Site Template">-->
<!--                        <h3>Your Product Title Here</h3>-->
<!--                      </div>-->
<!--                    </td>-->
<!--                    <td class="text-center"><span class="price_text">$10.50</span></td>-->
<!--                    <td class="text-center"><span class="price_text text-danger">Out Stock</span></td>-->
<!--                    <td class="text-center">-->
<!--                      <a href="#!" class="btn btn_gray">Add To Cart</a>-->
<!--                    </td>-->
<!--                    <td class="text-center"><button type="button" class="remove_btn"><i class="fal fa-trash-alt"></i></button></td>-->
<!--                  </tr>-->

<!--                  <tr>-->
<!--                    <td>-->
<!--                      <div class="cart_product">-->
<!--                        <img src="assets/images/compare/compare_img_3.webp" alt="Getyootech - Gadgets Ecommerce Site Template">-->
<!--                        <h3>Your Product Title Here</h3>-->
<!--                      </div>-->
<!--                    </td>-->
<!--                    <td class="text-center"><span class="price_text">$10.50</span></td>-->
<!--                    <td class="text-center"><span class="price_text text-success">In Stock</span></td>-->
<!--                    <td class="text-center">-->
<!--                      <a href="#!" class="btn btn_gray">Add To Cart</a>-->
<!--                    </td>-->
<!--                    <td class="text-center"><button type="button" class="remove_btn"><i class="fal fa-trash-alt"></i></button></td>-->
<!--                  </tr>-->
                </tbody>
              </table>
            </div>
          </div>
        </section>
        <!-- cart_section - end
        ================================================== -->

        <!-- newsletter_section - start
        ================================================== -->
        <section class="newsletter_section">
          <div class="container">
            <div class="row align-items-center">
              <div class="col col-lg-6">
                <h2 class="newsletter_title text-white">
                  <i class="icofont-paper-plane"></i>
                  Sign Up for Newsletter
                </h2>
              </div>
              <div class="col col-lg-6">
                <form action="#!">
                  <div class="newsletter_form">
                    <input type="email" name="email" placeholder="Enter your email address">
                    <button type="submit" class="btn btn_danger">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
        <!-- newsletter_section - end
        ================================================== -->

      </main>
      <!-- main body - end
      ================================================== -->

      <!-- footer_section - start
      ================================================== -->
      <th:block th:replace="~{fragment/footer :: footer}"></th:block>
      <!-- footer_section - end
      ================================================== -->

    </div>
    <!-- body_wrap - end -->

    <!-- framework - jquery include -->
    <th:block th:replace="~{fragment/script :: script}"></th:block>
</body>
</html>