<th:block th:fragment="script">
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/js/popper.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap5-dropdown-ml-hack.js}"></script>
    <script th:src="@{/assets/js/notify.min.js}"></script>

    <!-- carousel - jquery include -->
    <script th:src="@{/assets/js/slick.min.js}"></script>

    <!-- popup - jquery include -->
    <script th:src="@{/assets/js/magnific-popup.min.js}"></script>

    <!-- jquery-ui - jquery include -->
    <script th:src="@{/assets/js/jquery-ui.js}"></script>

    <!-- off canvas sidebar - jquery include -->
    <script th:src="@{/assets/js/mCustomScrollbar.js}"></script>

    <!-- select option - jquery include -->
    <script th:src="@{/assets/js/nice-select.min.js}"></script>

    <!-- countdown timer - jquery include -->
    <script th:src="@{/assets/js/countdown.js}"></script>

    <!-- counter up - jquery include -->
    <script th:src="@{/assets/js/counterup.min.js}"></script>
    <script th:src="@{/assets/js/waypoints.min.js}"></script>

    <!-- custom - jquery include -->
    <script th:src="@{/assets/js/main.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>

    <!-- Include Thymeleaf template engine -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var successMessage = /*[[${successMessage}]]*/ 'null';
        /*]]>*/
    </script>

    <!-- Inline script to show notification -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            if (successMessage && successMessage !== 'null') {
                $.notify(successMessage, {
                    className: "success",
                    globalPosition: "bottom right"
                });
            }
        });
    </script>

</th:block>