<th:block th:fragment="script">
    <script th:src="@{/assets/js/jquery.min.js}"></script>
    <script th:src="@{/assets/js/popper.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap5-dropdown-ml-hack.js}"></script>
    <script th:src="@{/assets/js/notify.min.js}"></script>

    <!-- carousel - jquery include -->
    <script th:src="@{/assets/js/slick.min.js}"></script>

    <!-- popup - jquery include -->
    <script th:src="@{/assets/js/magnific-popup.min.js}"></script>

    <!-- jquery-ui - jquery include -->
    <script th:src="@{/assets/js/jquery-ui.js}"></script>

    <!-- off canvas sidebar - jquery include -->
    <script th:src="@{/assets/js/mCustomScrollbar.js}"></script>

    <!-- select option - jquery include -->
    <script th:src="@{/assets/js/nice-select.min.js}"></script>

    <!-- countdown timer - jquery include -->
    <script th:src="@{/assets/js/countdown.js}"></script>

    <!-- counter up - jquery include -->
    <script th:src="@{/assets/js/counterup.min.js}"></script>
    <script th:src="@{/assets/js/waypoints.min.js}"></script>

    <!-- custom - jquery include -->
    <script th:src="@{/assets/js/main.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>

    <!-- Include Thymeleaf template engine -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var successMessage = /*[[${successMessage}]]*/ 'null';
        /*]]>*/
    </script>

    <!-- Inline script to show notification -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            if (successMessage && successMessage !== 'null') {
                $.notify(successMessage, {
                    className: "success",
                    globalPosition: "bottom right"
                });
            }
        });
    </script>

    <!-- Include Thymeleaf template engine -->
    <script th:inline="javascript">
        /*<![CDATA[*/
        var errorMessage = /*[[${errorMessage}]]*/ 'null';
        /*]]>*/
    </script>

    <!-- Inline script to show notification -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            if (errorMessage && errorMessage !== 'null') {
                $.notify(errorMessage, {
                    className: "error",
                    globalPosition: "bottom right"
                });
            }
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var links = document.getElementsByClassName('riskLink');

            for (var i = 0; i < links.length; i++) {
                links[i].addEventListener('click', function(event) {
                    event.preventDefault();
                    var linkToFollow = event.target.href;

                    Swal.fire({
                        title: 'Are you sure?',
                        text: "You are about to leave this page.",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, leave',
                        cancelButtonText: 'Cancel'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = linkToFollow;
                        }
                    });
                });
            }
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var cfDelete = document.getElementsByClassName('confirmDelete');

            for (var i = 0; i < cfDelete.length; i++) {
                links[i].addEventListener('click', function(event) {
                    event.preventDefault();
                    var linkToFollow = event.target.href;

                    Swal.fire({
                        title: 'Are you sure?',
                        text: "You are about to remove this item from cart.",
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#3085d6',
                        cancelButtonColor: '#d33',
                        confirmButtonText: 'Yes, remove it',
                        cancelButtonText: 'Cancel'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = linkToFollow;
                        }
                    });
                });
            }
        });
    </script>

</th:block>