<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Post Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<h1>Posts Count by Day in Current Week</h1>
<canvas id="lineChart" width="600" height="400"></canvas>
<div>
    <canvas id="myChart"></canvas>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var postsCountByDay = /*[[${postsCountByDay}]]*/ {};
    var labels = Object.keys(postsCountByDay);
    var values = Object.values(postsCountByDay);
    var max = Math.max(...values);

    // Chart for myChart (example bar chart)
    var ctxMyChart = document.getElementById('myChart').getContext('2d');
    new Chart(ctxMyChart, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: '# of Posts',
                data: values,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    /*]]>*/
</script>
<h1>Posts Count by Week in Current Month</h1>
<div>
    <canvas id="barChart2" width="600" height="400"></canvas>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    // Data for the line chart and bar chart
    var postsCountByWeek = /*[[${postsCountByWeek}]]*/ {};
    var labels = Object.keys(postsCountByWeek);
    var values = Object.values(postsCountByWeek);
    var max = Math.max(...values);


    // Bar Chart
    var ctxMyChart = document.getElementById('barChart2').getContext('2d');
    new Chart(ctxMyChart, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Posts Count',
                data: values,
                backgroundColor: 'rgba(153, 102, 255, 0.2)',
                borderColor: 'rgba(153, 102, 255, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                x: {
                    beginAtZero: true
                },
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    /*]]>*/
</script>

<h1>Posts Count by Month in Current Year</h1>
<div>
    <canvas id="barChart3" width="600" height="400"></canvas>
</div>

<script th:inline="javascript">
    /*<![CDATA[*/
    // Data for the line chart and bar chart
    var postsCountByMonth = /*[[${postsCountByMonth}]]*/ {};
    var labels = Object.keys(postsCountByMonth);
    var values = Object.values(postsCountByMonth);
    var max = Math.max(...values);


    // Bar Chart
    var ctxMyChart = document.getElementById('barChart3').getContext('2d');
    new Chart(ctxMyChart, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Posts Count',
                data: values,
                backgroundColor: 'rgba(153, 102, 255, 0.2)',
                borderColor: 'rgba(153, 102, 255, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                x: {
                    beginAtZero: true
                },
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    /*]]>*/
</script>
</body>
</html>
