<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="/fragment/dashboardHeader ::header "></div>
<body id="page-top">
<div th:replace="/fragment/dashboardHeader ::navbar"></div>
<div id="wrapper">
    <!-- Sidebar -->
    <div th:replace="/fragment/dashboardHeader :: sidebar"></div>
    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/ManagerDashBoard}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Overview</li>
            </ol>
            <div class="card mb-3">
                <div class="card-header h3">
                    <i class="fas fa-table"></i>
                    List of Comments in Blog <span th:text="${post.title}"></span>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-3 ml-3">
                        <div class="form-group">
                            <form class="form-inline" th:action="@{/posts/search}">
                                <div class="input-group w-100">
                                    <input type="text" class="form-control" name="query"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="submit">Search</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-top" id="dataTable">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Email</th>
                                <th>Comment</th>
                                <th>Created Date</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="comment, iterStat : ${comments}">
                                <td th:text="${iterStat.count}">1</td>
                                <td th:text="${comment.email}">Email</td>
                                <td th:text="${comment.content}">Content</td>
                                <td th:text="${#temporals.format(comment.createdOn, 'dd MMM yyyy')}">Comment Created Date</td>
                                <td>
                                    <a class="btn btn-danger" th:if="${!comment.isHidden()}" th:href="@{/posts/comments/hide/{commentId}(commentId=${comment.id})}">Hide</a>
                                    <a class="btn btn-success" th:if="${comment.isHidden()}" th:href="@{/posts/comments/display/{commentId}(commentId=${comment.id})}">Display</a>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="/fragment/dashboardFooter :: footer"></div>
    </div>
</div>
<!-- /#wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<div th:replace="/fragment/dashboardFooter :: logout-module"></div>
<!-- Bootstrap core JavaScript-->
<div th:replace="/fragment/dashboardFooter :: source"></div>
</body>
</html>