<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="/fragment/dashboardHeader ::header "></div>
<body id="page-top">
<div th:replace="/fragment/dashboardHeader ::navbar"></div>
<div id="wrapper">
    <!-- Sidebar -->
    <div th:replace="/fragment/dashboardHeader :: sidebar"></div>
    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/ManagerDashBoard}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Create New Post</li>
            </ol>
            <div class="row col-md-8 offset-md-2">
                <div class="card w-100">
                    <div class="card-header">
                        <h2 class="text-center">Create Post</h2>
                    </div>
                    <div class="card-body">
                        <form role="form" method="post" th:action="@{/posts/createPost}" th:object="${post}">
                            <div class="mb-3">
                                <label class="form-label"> Title </label>
                                <input type="text"
                                       class="form-control"
                                       id="title"
                                       placeholder="Enter Post Title"
                                       name="title"
                                       th:field="*{title}"
                                >
                                <p th:if="${#fields.hasErrors('title')}" class="text-danger" th:errors="*{title}"></p>
                            </div>

                            <div class="mb-3">
                                <label class="form-label"> Short Description </label>
                                <textarea
                                        class="form-control"
                                        id="shortDescription"
                                        placeholder="Enter Post Short Description"
                                        rows="3"
                                        name="shortDescription"
                                        th:field="*{shortDescription}"
                                ></textarea>
                                <p th:if="${#fields.hasErrors('shortDescription')}" class="text-danger" th:errors="*{shortDescription}"></p>

                            </div>

                            <div class="mb-3">
                                <label class="form-label"> Content </label>
                                <textarea
                                        class="form-control"
                                        id="content"
                                        placeholder="Enter Post Content"
                                        rows="12"
                                        name="content"
                                        th:field="*{content}"
                                ></textarea>
                                <p th:if="${#fields.hasErrors('content')}" class="text-danger" th:errors="*{content}"></p>

                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="/fragment/dashboardFooter :: footer"></div>

    <!-- /#wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <div th:replace="/fragment/dashboardFooter :: logout-module"></div>
    <!-- Bootstrap core JavaScript-->
    <div th:replace="/fragment/dashboardFooter :: source"></div>
</div>
</body>
</html>