<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="/fragment/dashboardHeader ::header "></div>
<body id="page-top">
<div th:replace="/fragment/dashboardHeader ::navbar"></div>
<div id="wrapper">
    <!-- Sidebar -->
    <div th:replace="/fragment/dashboardHeader :: sidebar"></div>
    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a th:href="@{/ManagerDashBoard}">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Overview</li>
            </ol>
            <div class="card mb-3">
                <div class="card-header h3">
                    <i class="fas fa-table"></i>
                    Post
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <!--                        <a class="btn btn-primary" href="#">Add order</a>-->
                        <table class="table table-top" id="dataTable">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Post Title</th>
                                <th>Post Short Description</th>
                                <th>Post Created On</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each = "post, postStat : ${posts}">
                                <td th:text="${postStat.count}">1</td>
                                <td th:text="${post.title}">Post Title</td>
                                <td th:text="${post.shortDescription}">Post Short Description</td>
                                <td th:text="${post.createdOn}">Post Created Date</td>
                            </tr>
                            </tbody>
                            <tfoot>

                            </tfoot>

                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
            </div>
        </div>

        <div th:replace="/fragment/dashboardFooter :: footer"></div>
    </div>
</div>
<!-- /#wrapper -->
<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<div th:replace="/fragment/dashboardFooter :: logout-module"></div>
<!-- Bootstrap core JavaScript-->
<div th:replace="/fragment/dashboardFooter :: source"></div>
</body>
</html>