<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Post Details</title>
</head>
<body>
<h1>Post Details</h1>
<div>
    <label>Title:</label>
    <span th:text="${post.postTitle}"></span>
</div>
<div>
    <label>Content:</label>
    <span th:text="${post.postConent}"></span>
</div>
<div>
    <a th:href="@{/posts/update/{id}(id=${post.id})}">Edit</a>
    <form th:action="@{/posts/delete/{id}(id=${post.id})}" method="post" style="display:inline;">
        <input type="hidden" name="_method" value="delete" />
        <button type="submit">Delete</button>
    </form>
</div>
<div>
    <a th:href="@{/posts}">Back to Posts</a>
</div>
</body>
</html>
